@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,300&display=swap');

* {
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   margin: 0;
   padding: 0;
   color: #4d4b4b;
 }

main {
   padding: 20px;
   overflow: auto;
}



 .header {
   font-size: 16px;
   padding: 5px;
   background: linear-gradient(to right, #5b86e5, #36d1dc);
   text-align: center;
   color: white;
   position: sticky;
   top: 0;
}

header{
   display: inline;
}

h2{
   color: #00a2c6
}

.card{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
}

.right{
   float: right;
   width: 75%;
}

.left{
   float: left;
   width: 25%;
   padding-right: 20px;
}

.foto img {
   width: 100%;
   border-radius: 10px;
}

.tabel{
   border-collapse: collapse;
   border-radius: 5px;
   width: 100%;	
   margin-bottom: 20px;
}

tr:hover{
   background-color: #ddd;
}

ul{
   margin: 0;
   padding: 0;
   display: inline-block;
   text-align: center;
   list-style-type: none;
   background-color: transparent;
}
ul li{
   display: inline-block;
   text-align: center;
   margin: 5px;
   padding:5px;
}

ul li a{
   display: inline-block;
   padding: 5px;
}
ul li a:hover {
   background-color: rgb(202, 196, 196);
   border-radius: 5px;   
}

.icon{
   padding: 15px;
   background-color: #292929;
   text-align: center;
}

.credit{
   padding: 10px;
   color: rgb(187, 183, 183);
   background-color: #222222;
   text-align: center;
}

@media screen and (max-width: 1000px) {
   .right, .left {
       width: 100%;
       padding: 0;
   }
}